include ../form/form

mixin jumbotron()
  +b.ARTICLE.jumbotron
    .container      
      SECTION(id="proposal").proposal
        +e.HEADER.title
          P Вы заполняете заявку на получение микрозайма.<br> Заявка будет обработана МФО [ название }.
          p Внимательно заполните все поля. <br>Предоставленные вами сведения могут использоваться при оформлении документов.
        HEADER(class="jumbotron__title_xs")
          P 
            | Внимательно заполните все поля. Предоставленные вами сведения могут использоваться при оформлении документов.

        +form