mixin box-hidden() 
  +b(id="box-up").box-hidden.hidden
    +e.H4.title Повысьте вероятность <strong>быстрого получения выгодного займа!</strong>
    +e.description Как это работает: 
      P 
        | Вы подаете единую заявку на заем, рассматриваете предложения от нескольких МФО, выбираете наиболее выгодное — и получаете деньги в удобной форме.
      +e.BUTTON.button(type="button" class="js-toggle-checked") Повысить шанс