mixin popup()
  +b(data-popup-id="popup" class="popup")
    DIV(class="popup_container") 
      H4 Согласии на обработку персональных данных
      P.form__checkbox-subtitle 
        | Отправляя форму, я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в
      P.form__checkbox-subtitle 
        | Отправляя форму, я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в
      BUTTON(data-popup-close="popup" class="popup__close") Закрыть