include ../../blocks/logo/logo

mixin header()
  +b.header
    +logo
    +e.description 
      P Онлайн-заявка на получение микрозайма <strong>с повышенной вероятностью одобрения</strong>
    +e.title <strong>zaim. </strong>test