// fonts
$font-light: 'MuseoLight', sans-serif;
$font-primary: 'Museo', sans-serif;
$font-bold: 'MuseoBoldBold', sans-serif;
$font-robotobold: 'RobotoBold', sans-serif;
$font-robotoLight: 'RobotoLight', sans-serif;

$color-primary: #11a4cb;
$color-secondary: #005b6b;
$error: #d0021b;

$orange: #ff9810;
$gray: #cccccc;
$dark-gray: #666666;

$color-tertiary: #009cfb;
$font-size: 14px;
$line-height: 1.4;
$listStyle: none;

// BREAKPOINTS
$minWidth: 320px;
$maxWidth: 1920px;

$xs: 480px;
$sm: 767px;
$md: 991px;
