mixin footer()
  +b.FOOTER.footer
    .container
      +e.UL.list
        +e.LI.item
          +e.A(href="http://zaim-test.com").copyright &copy;2018 zaim-test.com  
        +e.LI.item
          +e.BUTTON.btn.js-consent Политика конфиденциальности